/*
 * Stylesheet for DWA E-15 project 2
 */


/* Color scheme: http://paletton.com/palette.php?uid=53N0i0kN9LJ8HUmo6P0-qmdppbG */


/* Note: Default styles are for mobile first.
         Responsive styling for larger screens follows. */

body {
    line-height: 1.7em;
    color: #121E3F;
    font-size: 13px;
}

h1,
h2,
h3 {
    color: #0B2877;
}

.content-head {
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}

.content {
    width: 100%;
    overflow-x: auto;
}

.password-panel {
    padding: 1em;
    background-color: #B4C4EE;
    width: 90%;
    margin-left:  auto;
    margin-right:  auto;
}

.password-display {
    text-align: center;
}

.form-group {
    padding-bottom: .5em;
}

/* Responsive css for medium screens */

@media (min-width: 48em) {
    .content {
        padding: 1em;
        font-size: 16px;
    }
    
    .password-panel {
        padding: 2em;
        width: 60%;
    }
}


/* Responsive css for large screens */

@media (min-width: 78em) {

}